{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register/password_change_done.css' %}">
{% endblock %}
{% block content %}
<main class="mt-5 pt-5">
    <div class="container">
<div class="col-12 py-5 mt-5">

    <div class="card text-white mb-3" style="max-width: 25rem;margin: 0 auto; background: gray;">
          <div class="card-header text-center"></div>
          <div class="card-body">
                <h5 style="color: white;" class="card-title">Success Password Changed</h5>
                <p style="color:white;" class="card-text">Now you can sign with your new account...That's great..</p>
                <a href="{% url 'index' %}"><button class="btn btn-primary">Home Page</button></a>  
            </div>
    </div>

</div>
</div>
</main>
{% endblock %}