{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}<title>login Pages</title>{% endblock %}
{% block head %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}

<section>
 <main class="mt-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-3 mx-auto">
            <h5 class="card-header info-color white-text text-center py-4">
              <strong>Password Change</strong>
            </h5>
          <form method="POST" class="border border-light p-3">
            {% csrf_token %}
              <div class="md-form">
            <label for="materialRegisterFormPassword"></label>
            {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label%}
            </div>

            <div class="md-form">
            <label for="materialRegisterFormPassword"></label>
              {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label%}
            </div>

          <button  class="btn btn-info btn-block my-4" type="submit">Password Change</button>
            </form>
          </div>
        </div>
      </div>
   </main>
</section>
 
{% endblock %}

{% block scripts %}



{% endblock %}


         