{% extends 'base.html' %}
{% load static %}
{% block content %}



<main class="mt-5 pt-5">
<div class="container">
    <div class='row'>
      <div class="col-lg-6 col-md-4 col-sm-3 mx-auto">
      <div class="card">
            <!-- Card content -->
              <div class="card-body">
              <!-- Title -->
              <p>You can change your password for security reasons or reset it if you forget it.Your Google Account to do a factory reset. Learn how to protect your device.To requestanother email, follow the steps to recover your account. </p> 
              <span style="border-bottom: 2px solid #F57C00;">Please Check your <a class="link-a"href="https://www.gmail.com">email</a></span>
              
            </div>
          </div>
       </div>
    </div>
  </div>
</main>
  
  {% endblock %}