{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<main class="mt-5 pt-4">
	<div class="container">
		<hr>
		<h4 class="text">Profile Page</h4>
		<hr>
  <div class="row">
    
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Card-->
      <div class="card testimonial-card mt-5">

        <!--Background color-->
        <div class="card-up teal lighten-2">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto white"><img src="{{ authorprofile.profile_image.url }}"
            alt="avatar mx-auto white" class="rounded-circle img-fluid">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">{{ authorprofile.name }}</h4>
          <hr>
           
          <!--Quotation-->
          <p><h5>Author About</h5></p>
           <p>{{ authorprofile.about|truncatewords_html:20 }}.</p>
        </div>

      </div>
      <!--Card-->

    </div>
           
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				{% for i in authorallarticle%}
				<div class="card mt-5">
				  <a href="{% url 'post_page' id=i.id %}">
            <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
          </a>
				  <div class="card-body">
				    <h4 class="card-title"><a href="{% url 'post_page' id=i.id %}">{{ i.title }}</a></h4>
				    <p class="card-text">{{ i.description|truncatewords_html:20 }}</p>
				  </div>
				</div>
				 {% endfor %}
             </div>
           
			</div>
		</div>
	
</main>

{% endblock %}
{% block scripts %}{% endblock %}