@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,500,800&display=swap');

*{
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 20px;
}




@media(max-width: 576px){

.btn[class*=btn-outline-] {
    padding-top: .7rem;
    padding-bottom: .7rem;
    width: -webkit-fill-available;
  }

  }

