.card {
    font-weight: 400;
    border: 0;
    margin-top: 20px;
    border: 2px solid pink;
    margin-bottom: 30px;
}

.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400;
    text-align: center;
}

