{% extends 'base.html' %}
{% load static %}
{% block title %}<title> Home page </title>{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home-page.css' %}">
{% endblock %}

{% block content %}
 <main class="mt-5 pt-5">
    <div class="container">  
  <!--    messages framework -->
      {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endfor %}
        </div>
      {% endif %}  
               
                  
      <hr class="my-5">
    <section class="text-center">
<section> 
               
        <div class="row">
        {% for article in all_article %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card ">
            <a href="{% url 'post_page' id=article.id %}"><img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap"></a>
              <div class="card-body">
               <h5><a w=100%; href="{% url 'category_page' name=article.category_name%}">{{ article.category_name}}</a></h5> 
              </div>
              <h7><a href="{% url 'author_post' name=article.author_id %}">{{ article.author_id.name }}</a></h7>
               <h4 class="card-title"><a>{{ article.title }}</a></h4>
              </div>
         </div>
        {% endfor %}
        </div>       
</section>            

 <!-- Paginator -->
<section> 
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          {% if all_article.has_previous %}  
          <li class="page-item"><a class="page-link" href="?page={{ all_article.previous_page_number }}">Previous</a></li>
          {% endif %}
        </li>

        <span class="current">
          Page {{all_article.number }} of {{ all_article.paginator.num_pages }}.
        </span>
        
        <li class="page-item">
          {% if all_article.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ all_article.next_page_number }}">Next</a></li>
          {% endif %}
        </li>
      </ul>
    </nav>
</section> 

       
      </section>
    </div>
  </main>
  {% endblock %}
  {% block footer %}{% endblock %}

  {% block scripts %}

  
  {% endblock %}

 